<div class="panel">
    <h1>{{id ? "Edit" : "Create"}} Pak</h1>
    <form name="pakForm" class="form-horizontal">
        <div class="form-group">
            <esp-input-group class="form-control" fields="name,endpoint" 
                types="string,string" ng-model="pak"></esp-input-group>

            <div class="input-group col-md-offset-3" ng-show='id'>
                <p class="input-group">&nbsp; <i>Enter password and confirm to change password or to delete pak.</i></p>
            </div>
            <esp-input-group class="form-control" fields="password,confirm" 
                types="password,password" ng-model="pak"></esp-input-group>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" ng-click='publish()'>OK</button>
                <button class="btn btn-default" ng-click="Esp.go('/')">Cancel</button>
                <button class="btn btn-danger" ng-show="id" ng-click="retract()">Delete</button>
            </div>
        </div>
    </form>
</div>
