<div class="panel" ng-controller="PakControl">
    <h1>Pak Catalog</h1>
    <h3>Search for Paks</h3>
    <form>
        <div class="row">
            <div class="input-group col-md-6">
                <input class="form-control" type="text" ng-model="keywords" placeholder="Keywords ...">
                <span class="btn btn-primary input-group-addon" ng-click="Esp.go('/pak/')">New Pak</span>
            </div>
        </div>
    </form>
    <div>&nbsp;</div>

    <table class="table xtable-striped table-hover xtable-condensed" ng-show="results.length > 0">
        <thead><tr><th ng-repeat="header in ['name', 'description', 'endpoint', 'modify']">{{header | titlecase}}</th></tr></thead>
        <tbody>
            <tr ng-repeat="result in results">
                <td ng-click="Esp.go(result.endpoint)">{{result.name}}</td>
                <td ng-click="Esp.go(result.endpoint)">{{result.description}}</td>
                <td ng-click="Esp.go(result.endpoint)">{{result.endpoint}}</td>
                <td ng-click="Esp.go('/pak/' + result.id)"><i class="fa fa-pencil-square-o"></i></td>
            </tr>
        </tbody>
    </table>
</div>
