# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
start.bit
macosx-*
*-debug
*-release
*.mod
projects/*mine*
src/catalog/cache
*.tmp
all*.gz
all*.css
all*.js
releases
src/catalog/db/init.es
projects/pak*mine.xcodeproj
windows*.bit

/start.me
/linux-*
*.guid
.gitattributes
/build
.DS_Store
override/SAVE
