<!--
    auth-login.html - Modal auth/password login dialog.

    This uses the Angular-UI modal directive. It observes the "modal" attribute and displays the modal if it is true.
    The options are defined in AuthControl.js which is the controller for this dialog.
 -->
<esp-modal class="modal">
    <div class="modal-dialog login">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Enter Pak Password</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <input autofocus type='text' class="form-control" ng-model='auth.authname' tabindex='1' placeholder="Pak name">
                    </div>
                    <div class="form-group">
                        <input id='password' type='password' class="form-control" ng-model='auth.password' tabindex='2' placeholder="password">
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" ng-click='login($dialog)' tabindex='3'>OK</button>
                    <button class="btn" ng-click='dismiss($dialog)' tabindex='4'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</esp-modal>
